.main__container {
  padding: 2rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map {
  background-color: rgb(212, 249, 212);
  flex: 1;
  height: 70vh;
  overflow: hidden;
  border: 5px solid;
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 60vh;
  padding: 5rem;
}
#fit {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  height: 40px;
  padding: 50px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

.start {
  background-color: rgb(124, 241, 124);
  flex: 1;
}

/*HEADER*/

.Header__container {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 2rem 1rem;
}

.Header__logo {
  height: 8rem;
}

.Header__profile {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: end;
}
.Header__profileImage {
  display: flex;
  align-items: center;
  height: 4rem;
  border-radius: 50%;
  border: solid 1px lightgray;
}

.Header__profileName {
  display: flex;
  align-items: center;
  margin: 0rem 1rem;

  font-size: 20px;
  font-weight: 500;
}

/*ACTION BUTTON*/
.actionButton__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 1rem;
}

.actionButtons {
  background-color: rgb(232, 249, 232);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15%;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.active_size {
  background-color: #3e8e41;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.active_weight {
  background-color: #3e8e41;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.active_value {
  background-color: #3e8e41;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.actionButtons:hover,
.inputButton__container:hover {
  background-color: #3e8e41;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.actionButtonsImage {
  height: 4rem;
  width: 5rem;
  margin: 1rem;
}

/* INPUT BUTTON*/

.inputButton__container {
  background-color: rgb(232, 249, 232);
  margin: 1rem;
  height: 10vh;
}

.inputButton__container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

/* SEARCH PAGE*/
.search__container {
  height: 100vh;
  background-color: #fbf9f6;
}

.search__backButton {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 1rem;
}

.search__inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search__input {
  height: 1rem;
  margin: 0.8rem 1rem;
  background-color: rgb(232, 249, 232);
  border: none;
  padding: 1.2rem 1rem;
  outline: none;
}

.search__inputContainer {
  background-color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.search__inputFrom {
  height: 8rem;
  width: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search__iconLine {
  height: 2.5rem;
}

.search__iconCircle {
  height: 0.625rem;
}

.search__iconSquare {
  height: 0.625rem;
}

.search__plus {
  background-color: rgb(232, 249, 232);
  border-radius: 50%;
  height: 3.3rem;
  width: 3.3rem;
}

.search__savedPlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  background-color: white;
}

.search__star {
  background-color: rgb(22, 99, 22);
  padding: 0.3rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
.search__confirmLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 131, 46);
  border: solid 1px white;
  color: white;
  height: 2.5rem;
  margin: 1rem 2rem;
  transition: 0.3s;
  bottom: 10px;
  cursor: pointer;
}
.search__confirmLocation:hover {
  background-color: #146e17;
  color: white;
  transform: scale(1.05);
}

/*RIDE SELECTOR*/

.rideSelector__section {
  background-color: #fbf9f6;
  overflow-y: scroll;
}

.rideSelector__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgreen;
  font-weight: 600;
  font-size: 20px;
  height: 4vh;
  border-bottom: 1px solid rgb(183, 248, 183);
}

.rideSelector__vehiclesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  margin: 0rem 2rem;
}

.rideSelector__vehicles {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0rem;
}
.rideSelector__vehicles:hover {
  background-color: #146e17;
  transition: 1s all ease-in-out;
  color: white;
}
.active_ride {
  background-color: #146e17;
  transition: 1s all ease-in-out;
  color: white;
}
.rideSelector__vehicleImage {
  height: 3.5rem;
  margin-right: 1rem;
}

.rideSelector__carDetails {
  flex: 1;
}
.rideSelector__service {
  color: rgb(8, 41, 1);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.rideSelector__time {
  color: rgb(175, 209, 168);
}

.rideSelector__price {
  color: rgb(8, 41, 1);
  font-size: 700;
}

/* CONFIRM PAGE*/
.search__resultConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 131, 46);
  border: solid 1px white;
  color: white;
  height: 4rem;
  margin: 1rem 2rem;
  transition: 0.3s;
  bottom: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.search__backButtonContainer {
  z-index: 10;
  background-color: white;
  border-radius: 25px;
  top: 4px;
  left: 4px;
  position: absolute;
}

.search__backButton {
  object-fit: contain;
}

.search__parcelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search__title {
  display: flex;
  justify-content: center;
  color: rgb(46, 131, 46);
}

/* login*/

.login__contentContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 8rem 0rem;
}

.login__container {
  height: 100vh;
  background-color: #fbf9f6;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.login__details {
  display: flex;
  flex-direction: column;
}

.login__field {
  height: 3rem;
  width: 18rem;
  margin: 1rem 0rem;
}

.login__submit {
  height: 3.4rem;
  width: 18rem;
  margin: 1rem 0rem;
  background-color: rgb(46, 131, 46);
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.login__forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__button {
  background-color: #146e17;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 3.4rem;
  width: 18rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0rem 6rem;
}

.login__title {
  font-size: 2rem;
}
.login__heroContainer {
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.login__hero {
  width: 60vw;
  height: 30vh;
}

.login__logo {
  width: 15vw;
  height: 15vh;
}

.login__logoContainer {
  background-color: #fbf9f6;
  width: 100%;
}
.value_textField {
  width: 20rem;
  position: relative;
}
.value_textField input {
  width: 100%;
  height: 2.5rem;
  padding-left: 2rem;
  border: none;
  outline: none;
  background-color: #e8f9e8;
  border-radius: 5px;
}

.value_textField span {
  background-color: #3e8e41;
  color: white;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 2px;
  left: 2px;
  top: 3.2px;
  position: absolute;
}
.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_div {
  width: 40%;
  height: 70%;
  padding-bottom: 1rem;

  text-align: center;
  padding: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  background-color: #e8f9e8;
}
.center_div h2 {
  width: 100%;
  color: #146e17;
  border-bottom: 1px solid #146e17;
}
.center_div div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: left;
  border-bottom: 1px solid #d9e3d9;
}
.center_div div h3 {
  font-weight: 500 !important;
}
.homeIcon {
  cursor: pointer;
}
.homeIcon span {
  font-weight: bold;
}
.dropdown {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  top: 10px;
  cursor: pointer;
}
.avatar {
  position: relative;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #3e8e41;
  z-index: 99;
  top: 70px;
  right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.dropdown h3 {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  font-weight: 500 !important;
  color: #e8f9e8;
}
.dropdown h3:hover {
  background-color: #e8f9e8;
  color: #3e8e41;
}
.dropdown_item:hover {
  background-color: #e8f9e8;
  color: #3e8e41;
}
.loginBtn {
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.loader {
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3e8e41; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .center_div {
    width: 90%;
  }
}

.howItWorks__container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.howItWorks__pageContainer {
  background-color: #c0cfff;
}

.howItWorks__image {
  max-width: 4rem;
  max-height: 4rem;
}

.howItWorks__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0rem 12rem;
  margin: 2rem 0rem;
}

.howItWorks__text {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 2rem;
  justify-content: flex-end;
}

.howItWorks__para {
  font-size: 1rem;
  margin-top: 1rem;
}
